<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body > 
   

<div class="conatiner" id="sh" >
    <table>

   
       
        {% load static %}
        <link rel="stylesheet" href="{% static 'costomer/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet"  href="{% static 'costomer/style.css' %}">
        
            


       
        <form action="{% url 'pd'%}" method="POST">
            {% csrf_token %}
            
       
       
            <button type="submit">submit</button>
        </form>
        </table>
    </div>
    
</body>
</html>